body {
  font-family: Arial, sans-serif;
  background-color: rgb(149, 212, 236);
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(0, 100, 0);
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 10px solid #db0c0c75;
  border-radius: 5px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgb(5, 113, 12);
  border: 5px solid #640808;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.card {
  border: 10px solid #7b0606;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

button {
  margin-top: 10px;
}
